NODE_ENV=development
APP_NAME="Task Management"
PORT=4000
CLIENT_URL=http://localhost:3000

# DATABASE
DATABASE_URL="postgresql://postgres:password@localhost:5432/task_management?schema=public"

# AUTH
JWT_SECRET="your-super-secret-jwt-key"
BCRYPT_SALT_ROUNDS=10
JWT_ACCESS_TOKEN_EXPIRES_IN="7d"
JWT_REFRESH_TOKEN_EXPIRES_IN="30d"

# SMTP EMAIL SETTINGS
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-email-app-password"